.h1{font-size:28px!important;margin:5px 0!important}
.h2{font-size:15px!important;margin:0!important}
.p{font-size: 14px!important;margin: 0!important}
.block-editor-button{background-color:#0d34be;cursor:pointer;padding:.5em 1em;border:1px solid transparent;font-weight:700;color:#fff;display:inline-block;margin:0!important;text-decoration:none;font-size:13px!important}
.block-editor-link{font-size:15px!important;padding:5px 10px;margin:0!important;color:#444}

/*** SERVICE-BLOCK ***/
.wp-block-create-block-service-block{background:#f4fbf8;border:1px solid #7b7b7b;color:#000;margin:0 auto;max-width:740px;padding:1.5rem}
.wp-block-create-block-service-block .image-button{text-align:center;margin:15px 0 0;border:1px solid #0071a1;background-color:#fff;height:auto;padding:0}
.wp-block-create-block-service-block p a{background-color:#0d34be;cursor:pointer;padding:.5em 1em;border:1px solid transparent;font-weight:700;color:#fff;display:inline-block;margin-top:.5em;text-decoration:none;font-size:13px}

/*** SLIDER-BLOCK ***/
.wp-block-create-block-slider-block{background:#f4fbf8;border:1px solid #7b7b7b;color:#000;margin:0 auto;max-width:740px;padding:1.5rem}
.wp-block-create-block-slider-block .swiper-container{margin-bottom:1.5rem}
.wp-block-create-block-slider-block .slider-btn{text-align:center}

/*** ERROR-BLOCK  ***/
.wp-block-create-block-error-block{background:#f4fbf8;border:1px solid #7b7b7b;color:#000;margin:0 auto;max-width:740px;padding:1.5rem}
.block-editor__contents-btn {margin-top: 1em;}
.block-editor__contents-btn p{display:inline-block}
