.wp-block-create-block-slider-block  {
    background: #f4fbf8;
    border: 1px solid #7b7b7b;
    color: black;
    margin: 0 auto;
    max-width: 740px;
    padding: 1.5rem;
}
.wp-block-create-block-slider-block .swiper-container{
    margin-bottom: 1.5rem;
}
.wp-block-create-block-slider-block .slider-btn {
    text-align: center;
}


.wp-block-create-block-service-block {
    background: #f4fbf8;
    border: 1px solid #7b7b7b;
    color: black;
    margin: 0 auto;
    max-width: 740px;
    padding: 1.5rem;
}
.wp-block-create-block-service-block h2 {
    font-size: 15px !important;
    margin: 0 !important;
}
.wp-block-create-block-service-block h1 {
    font-size: 28px !important;
    margin: 5px 0 !important;
}
.wp-block-create-block-service-block p{
    font-size: 14px !important;
    margin: 0 !important;
}
.wp-block-create-block-service-block .image-button {
    text-align: center;
    margin: 15px 0 0;
}
.wp-block-create-block-service-block .image-button {
    height: auto;
    padding: 0;
}
